{
  "root": true,
  "extends": [
    "plugin:vue/essential",
    "plugin:prettier/recommended",
    "eslint:recommended",
    "@vue/eslint-config-typescript"
  ],
  "rules": {
    "vue/no-multiple-template-root": "off",
    "no-extra-semi": "off"
  }
}
