[data-page] {
  height: 100%;
  transition: all 0.3s;
  padding-top: 50px;
  & > * {
    height: 100%;
  }
}

[data-page='about'] {
  //background: #0e141e;
}

[data-page='home'] {
  //background: #0e141c;
}
