nav {
  z-index: 1;
  .nav-item {
    .nav-link {
      transition: font-weight 0.3s;
      &:hover {
        @extend .fw-bold;
      }
    }
    &.active {
      .nav-link {
        @extend .fw-bold;
        @extend .text-white;
      }
    }
  }
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0.5rem 0;
  height: var(--nav-height);
}
