@import 'variables';
@import 'transitions';
@import 'page';
@import 'fonts';
@import 'simplebar/dist/simplebar.css';

html,
body,
#Layout {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  position: relative;
  @extend .text-barlow;
  @extend .overflow-hidden;
  @import 'nav';
}
