@import 'variables';
@import 'transitions';
@import 'backgrounds';
@import 'fonts';

* {
  overflow-x: hidden;
}

html,
body,
#layout {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;

  @extend .text-barlow;
  @extend .overflow-hidden;
  nav {
    z-index: 1;
    .nav-item {
      .nav-link {
        transition: font-weight 0.3s;
        &:hover {
          @extend .fw-bold;
        }
      }
      &.active {
        .nav-link {
          @extend .fw-bold;
          @extend .text-white;
        }
      }
    }
  }
}
