.slide-enter-active {
  transition: transform 0.3s ease-out;
  position: absolute;
  top: 0;
  height: 100%;
  padding-top: 50px;
  left: 0;
  right: 0;
  margin: auto;
  .enter-fade {
    transition: opacity 0.1s ease-out;
    opacity: 0;
  }
}

.slide-leave-active {
  transition: transform 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  position: absolute;
  top: 0;
  height: 100%;
  padding-top: 50px;
  left: 0;
  right: 0;
  margin: auto;

  .enter-fade {
    transition: opacity 0.1s ease-out;
    opacity: 0;
  }
}

.slide-enter-from {
  transform: translateX(-100vw);
  .enter-fade {
    transition: opacity 0.1s ease-out;
    opacity: 0;
  }
}
.slide-leave-to {
  transform: translateX(100vw);
  .enter-fade {
    transition: opacity 0.1s ease-out;
    opacity: 0;
  }
}

.slide:not(.slide-leave-to, .slide-leave-from, .slide-leave-active, .slide-enter-active) {
  .enter-fade {
    transition: opacity 0.3s ease-out 0.5s;
    opacity: 1;
  }
}
