.slide-fade-enter-active {
  transition: all 0.3s ease-out;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.slide-fade-enter-from {
  transform: translateX(-100vw);
}
.slide-fade-leave-to {
  transform: translateX(100vw);
}
