.scale-slide-enter-active,
.scale-slide-leave-active {
  position: absolute;
  transition: all 0.85s ease;
}

.scale-slide-enter-from {
  left: -100%;
}

.scale-slide-enter-to {
  left: 0;
}

.scale-slide-leave-from {
  left: 0;
  right: 0;
  margin: auto;
  transform: scale(1);
  opacity: 1;
}

.scale-slide-leave-to {
  opacity: 0;

  transform: scale(0.8);
}
