@font-face {
  font-family: dancing-script;
  font-weight: 300;
  src: url(@/assets/style/fonts/dancing_script/DancingScript-Regular.ttf);
}

@font-face {
  font-family: dancing-script;
  font-weight: 400;
  src: url(@/assets/style/fonts/dancing_script/DancingScript-Medium.ttf);
}

@font-face {
  font-family: dancing-script;
  font-weight: 600;
  src: url(@/assets/style/fonts/dancing_script/DancingScript-SemiBold.ttf);
}

@font-face {
  font-family: dancing-script;
  font-weight: 700;
  src: url(@/assets/style/fonts/dancing_script/DancingScript-Bold.ttf);
}

.text-dancing {
  font-family: dancing-script, serif;
}
